{% extends 'common/_base.html' %}
{% load staticfiles %}

{% block title %}创建警报{% endblock %}
{% block extra_css %}
    <!-- Select2 4.0.0-->
    <link href="{% static 'select2-4.0.0/css/select2.min.css' %}" rel="stylesheet">
    <!-- Customized css for create-alarm page -->
    <link href="{% static 'css/create-alarm.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
   <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                创建警报 | Create Alarms
            </h3>
        </div>
        {% include 'alarms/create_alarm/_create_alarm_form_hidden.html' %}
        <!-- Alarm configurations -->
        <div class="col-lg-12" id="alarm-detail-wrapper">
            {% include 'alarms/create_alarm/_create_threshold_alarm_step_instruction.html' %}
            {% include threshold_step_html %}
        </div>
        <!-- END col-lg-12 -->
   </div>
    <!-- END col-lg-12 -->
{% endblock %}
{% block extra_js %}
<!-- DataTables JS -->
<script src="{% static 'sb-admin/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<!-- DataTables Bootstrap JS -->
<script src="{% static 'sb-admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
<!-- AmChart JS -->
<script src="{% static 'amcharts/amcharts.js' %}"></script>
<!-- AmChart JS Serial Chart-->
<script src="{% static 'amcharts/serial.js' %}"></script>
<script src="{% static 'amcharts/plugins/dataloader/dataloader.js' %}"></script>
<script src="{% static 'amcharts/themes/light.js' %}"></script>
<!-- Table JS  -->
<script src="{% static 'js/alarms/create_alarm.js' %}"></script>
<script src="{% static 'js/translate_name.js' %}"></script>
<!-- Select2 4.0.0 -->
<script src="{% static 'select2-4.0.0/js/select2.min.js' %}"></script>
{% endblock %}