<div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="广告位招租... ...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li>
            <a href="/"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 监控<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="#">警报 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/monitor/alarm/all"><i class="fa fa-fw"></i> 全部</a>
                        </li>
                        <li>
                            <a href="/monitor/alarm/alarm"><i class="fa fa-exclamation-circle fa-fw"></i> 报警
                                <span class="fa btn btn-danger statistics-circle">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="/monitor/alarm/insufficient"><i class="fa fa-info-circle fa-fw"></i> 数据不足
                                <span class="fa btn btn-warning statistics-circle">5</span>
                            </a>
                        </li>
                        <li>
                            <a href="/monitor/alarm/ok"><i class="fa fa-check-circle fa-fw"></i> 正常
                                <span class="fa btn btn-success statistics-circle">12</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="/monitor/meters"> 指标</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="/analysis"><i class="fa fa-stethoscope fa-fw"></i> 分析<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="/analysis/load-forcast">负载预测</a>
                </li>
                <li>
                    <a href="#">资源分析 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/analysis/process">进程</a>
                        </li>
                        <li>
                            <a href="/analysis/network">网络</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="/logs"><i class="fa fa-edit fa-fw"></i> 日志</a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->