{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
    <title>{% block title %}{% endblock %} - TsinghuaCloud</title>

    <!-- DataTables CSS -->
    <link href="{% static 'sb-admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'sb-admin/bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

    <style type="text/css">
        .btn-space{
            margin-top: 4px;
        }
        .btn-empty{
            background-color: transparent;
            color: #854bb6;
        }
    </style>

    {% include '_basic_static_css.html' %}

</head>
<body>
<div id="container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include "_topbar.html" %}
        <div class="navbar-default sidebar" role="navigation">
            {% block sidebar %}
                {% include '_sidebar.html' %}
            {% endblock %}
        </div>
    </nav>

    <div id="page-wrapper" style="min-height: 219px;">
        <!-- Meter Page -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        <p class="col-lg-10">指标列表 | Meter List</p>
                        <button type="button" class="btn btn-primary">这个按钮没用</button>
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">指标列表</div>
                        <div class="panel-body">
                            <p>您当前共有 27 个指标</p>
                            <!-- Table -->
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-hover" id="meter-table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>实例ID</th>
                                        <th>实例名称</th>
                                        <th>指标名称</th>
                                        <th>类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END Table -->
                </div>
                <!-- END Panel -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">指标详情: Meter Name</div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label>开始时间</label>
                                        <input type="date" class="form-control" id="start-time" placeholder="Click to Set">
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间</label>
                                            <input type="date" class="form-control" id="end-time" placeholder="Click to Set">
                                    </div>
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <div id="meter-chart" style="width: 100%; height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Meter Page -->
</div>


<div id="footer">
</div>
{% include '_basic_js.html' %}
    <!-- DataTables JS -->
    <script src="{% static 'sb-admin/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>

    <!-- DataTables Bootstrap JS -->
    <script src="{% static 'sb-admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <!-- AmChart JS -->
    <script src="{% static 'amcharts/amcharts.js' %}"></script>
    <!-- AmChart JS Serial Chart-->
    <script src="{% static 'amcharts/serial.js' %}"></script>
    <!-- Meter-list specified js -->
    <script src="{% static 'js/meter.list.js' %}"></script>
</body>
</html>

