{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
    <title>{% block title %}{% endblock %} {{title}}- TsinghuaCloud</title>
    {% include '_basic_static_css.html' %}
     <link rel="stylesheet" href="style.css" type="text/css">
        <script src="{% static 'amcharts/amcharts.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/pie.js' %} " type="text/javascript"></script>
           
        
</head>
<body>
{{allVMList}}
{% block content %}
    <div id="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include "_topbar.html" %}
            <div class="navbar-default sidebar" role="navigation">
            {% block sidebar %}
                {% include '_sidebar.html' %}
            {% endblock %}
            </div>
        </nav>

        <div id="page-wrapper" style="min-height: 219px;">
            <!-- Alarm Summary -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        <p class="col-lg-11">全局资源 | resource overview</p>
                        <button type="button" class="btn btn-primary">没按钮</button>
                    </h3>
                    <div class="col-lg-1" id="chartdiv" style="width: 33%; height: 250px;"></div>
                     <div class="col-lg-1" id="chartdiv2" style="width: 33%; height: 250px;"></div>
                      <div class="col-lg-1" id="chartdiv3" style="width: 33%; height: 250px;"></div>
                    
                </div>
               

            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        
                         <p class="col-lg-11">节点资源使用 | PM resource utilization</p>
                        <button type="button" class="btn btn-primary">没按钮</button>
                    </h3>
                </div>
                 <div class="col-lg-8 col-lg-push-2">
                    <div class="panel panel-default">
                        
                        <!-- Table -->
                        <table class="table">
                                <thead>
                                <tr>
                                    <th style="text-align:center">ID</th>
                                    <th style="text-align:center"> 主机名称</th>
                                    <th style="text-align:center">内存(GB)</th>
                                    <th style="text-align:center">磁盘(GB)</th>
                                     <th style="text-align:center">虚拟核数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for info in Pminfo %}  
                                 <tr>
                                    <th style="text-align:center" scope="row">{{info.id}}</th>
                                    <td style="text-align:center">{{info.name}}</td>
                                    <td style="text-align:center">{{info.memory_mb_used}}/{{info.memory_mb}}</td>
                                    <td style="text-align:center">{{info.local_gb_used}}/{{info.local_gb}}</td>
                                    <td style="text-align:center">{{info.vcpus_used}}/{{info.vcpus}}</td>
                                </tr>
                                {% endfor %}  
                               
                               
                                </tbody>
                            </table>
                       
                    </div>
                </div>

            </div>
            
            
             <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                       <p class="col-lg-11">虚拟机映射 | VM mapping</p>
                        <button type="button" class="btn btn-primary">没按钮</button>
                    </h3>
                </div>
                 <div class="col-lg-6 col-lg-push-3">
                    <div class="panel panel-default">
                        
                        <!-- Table -->
                        
                        <table class="table" align="center">
                            
                                <thead>
                                <tr>
                                    
                                    <th style="text-align:center">主机名称</th>
                                    <th style="text-align:center">虚拟机</th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                            {% for  key,value in PMs.items %}
                                
                                <tr>
                                    
                                    <td width="50%" rowspan="{{value.len}}" style="text-align:center">{{key}}</td>
                                    
                                    
                                    <td style="text-align:center" width="50%">{{value.first}}</td>
                                </tr>
                                {%for single in value.left%}
                                <tr>
                                    
                                    
                                    <td style="text-align:center">{{single}}</td>
                                </tr>
                                {% endfor %}  
                                {% endfor %}  
                              
                                </tbody>
                            </table>
                        
                    </div>
                </div>

            </div>
        </div>
        <!-- END page-wrapper -->
    </div>
    <!-- END container -->
{% endblock %}
<div id="footer">
</div>
{% include '_basic_js.html' %}
</body>
<script>
            var chart;
            var legend;

            var chartData = [
                             {
                                 "category": "已使用",
                                 "value": {{resourceOverview.memory_mb_used}}
                             },
                             {
                                 "category": "未使用",
                                 "value": {{resourceOverview.memory_mb_left}}
                             },
                            
                         ];
            var chartData2 = [
                             {
                                 "category": "已使用",
                                 "value":{{resourceOverview.local_gb_used}}
                             },
                             {
                                 "category": "未使用",
                                 "value": {{resourceOverview.local_gb}}-{{resourceOverview.local_gb_used}}
                             },
                            
                         ];
            var chartData3 = [
                             {
                                 "category": "已使用",
                                 "value": {{resourceOverview.vcpus_used}}
                             },
                             {
                                 "category": "未使用",
                                 "value": {{resourceOverview.vcpus}}-{{resourceOverview.vcpus_used}}
                             },
                            
                         ];

            AmCharts.ready(function () {
            	 // PIE CHART
                chart = new AmCharts.AmPieChart();

                // title of the chart
                chart.addTitle("内存(GB)", 26);

                chart.dataProvider = chartData;
                chart.titleField = "category";
                chart.valueField = "value";
                chart.sequencedAnimation = true;
                chart.startEffect = "elastic";
                chart.innerRadius = "30%";
                chart.startDuration = 2;
                chart.labelRadius = 15;
                chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                // the following two lines makes the chart 3D
                chart.depth3D = 10;
                chart.angle = 15;

                chart2 = new AmCharts.AmPieChart();

                // title of the chart
                chart2.addTitle("磁盘(GB)", 26);

                chart2.dataProvider = chartData2;
                chart2.titleField = "category";
                chart2.valueField = "value";
                chart2.sequencedAnimation = true;
                chart2.startEffect = "elastic";
                chart2.innerRadius = "30%";
                chart2.startDuration = 2;
                chart2.labelRadius = 15;
                chart2.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                // the following two lines makes the chart 3D
                chart2.depth3D = 10;
                chart2.angle = 15;
                
                chart3 = new AmCharts.AmPieChart();

                // title of the chart
                chart3.addTitle("虚拟内核数", 26);

                chart3.dataProvider = chartData3;
                chart3.titleField = "category";
                chart3.valueField = "value";
                chart3.sequencedAnimation = true;
                chart3.startEffect = "elastic";
                chart3.innerRadius = "30%";
                chart3.startDuration = 2;
                chart3.labelRadius = 15;
                chart3.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                // the following two lines makes the chart 3D
                chart3.depth3D = 10;
                chart3.angle = 15;
                
                // WRITE
                chart.write("chartdiv");   
                chart2.write("chartdiv2");
                chart3.write("chartdiv3");//console.info('dax'+$('.amcharts-chart-div').size());
                $('.amcharts-chart-div').find('a').remove(); 
            });
           
        </script>
</html>

