{% block sidebar %}
<div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li>
            <a href="#"><i class="fa fa-dashboard fa-fw"></i> 概览<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="/overview/health"> 健康状况</a>
                </li>
                <li>
                    <a href="/overview/resources"> 资源状况</a>
                </li>
                <li>
                    <a href="/overview/topology">网络拓扑</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/monitor/#"><i class="fa fa-bar-chart-o fa-fw"></i> 监控<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse" name="alarm-operations">
                <li>
                    <a href="/monitor/alarms/#">警报 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/monitor/alarms/create-alarm"><i class="fa fa-fw"></i> 创建警报</a>
                        </li>
                        <li>
                            <a href="/monitor/alarms/?type=alarm"><i class="fa fa-exclamation-circle fa-fw"></i> 报警
                                <span class="fa btn btn-danger statistics-circle" name="alarm">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="/monitor/alarms/?type=insufficient"><i class="fa fa-info-circle fa-fw"></i> 数据不足
                                <span class="fa btn btn-warning statistics-circle" name="insufficient_data">5</span>
                            </a>
                        </li>
                        <li>
                            <a href="/monitor/alarms/?type=ok"><i class="fa fa-check-circle fa-fw"></i> 正常
                                <span class="fa btn btn-success statistics-circle" name="ok">12</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="/monitor/meters/#"> 指标<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/monitor/meters/?type=vm"><i class="fa fa-fw"></i> 虚拟机</a>
                        </li>
                        <li>
                            <a href="/monitor/meters/?type=pm"><i class="fa fa-fw"></i> 物理机</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="/analysis/#"><i class="fa fa-stethoscope fa-fw"></i> 分析<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="/analysis/load-forcast/#"> 负载预测<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/analysis/load-forcast/virtual-machine">虚拟机</a>
                        </li>
                        <li>
                            <a href="/analysis/load-forcast/physical-machine">物理机</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/analysis/#">资源分析 <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li>
                            <a href="/analysis/process">进程</a>
                        </li>
                        <li>
                            <a href="/analysis/network">网络</a>
                        </li>
                        <li>
                            <a href="/analysis/service">服务状态</a>
                        </li>
                        <li>
                            <a href="/analysis/resource">资源使用</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
                <li>
                    <a href="/topology">拓扑结构</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="/logs"><i class="fa fa-edit fa-fw"></i> 日志</a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
{% endblock %}