<div class="col-md-6">
    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">警报名称</label>
                <div class="col-sm-6">
                    <input class="form-control alarm-form-element" name="name" id="name">
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="severity" class="col-sm-3 control-label">重要等级</label>
                <div class="col-sm-3">
                    <select class="form-control alarm-form-element" name="severity" id="severity">
                        <option value="low">低</option>
                        <option value="moderate">中</option>
                        <option value="critical">高</option>
                    </select>
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">描述</label>
                <div class="col-sm-9">
                    <input class="form-control alarm-form-element" name="description" id="description">
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="enabled" class="col-sm-3 control-label">开启警报</label>
                <div class="col-sm-3">
                    <select class="form-control alarm-form-element" name="enabled" id="enabled">
                        <option value="True">是</option>
                        <option value="False">否</option>
                    </select>
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="repeat_actions" class="col-sm-3 control-label">重复提醒</label>
                <div class="col-sm-3">
                    <select class="form-control alarm-form-element" name="repeat_actions" id="repeat_actions">
                        <option value="True">是</option>
                        <option value="False">否</option>
                    </select>
                </div>
            </div>
            <!-- END form-group -->
        </div>
        <!-- END form -->
    </div>
    <!-- END well -->
</div>
<!-- END col-lg-6 -->
<div class="col-md-6">
    <div class="well">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label"> 监控指标 </label>
                <label class="col-sm-3 form-control-static alarm-form-element" name="resource_id">
                    {{ alarm_data.resource_id }}</label>
                <label class="col-sm-6 form-control-static alarm-form-element" name="meter_name">
                    {{ alarm_data.meter_name }}</label>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="period"  class="col-sm-3 control-label">时间间隔</label>
                <div class="col-sm-3">
                    <select class="form-control alarm-form-element" name="period" id="period">
                        <option value="60">60</option>
                        <option value="120">120</option>
                        <option value="300">300</option>
                        <option value="600">600</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">秒</label>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="period"  class="col-sm-3 control-label">  阈值  </label>
                <div class="col-sm-4">
                    <input class="form-control alarm-form-element" name="threshold" id="threshold" value="0.5">
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="statistic"  class="col-sm-3 control-label">统计方式</label>
                <div class="col-sm-4">
                    <select class="form-control alarm-form-element" name="statistic" id="statistic">
                        <option value="avg">平均值</option>
                        <option value="max">最大值</option>
                        <option value="min">最小值</option>
                        <option value="sum">总和</option>
                        <option value="count">计数</option>
                    </select>
                </div>
            </div>
            <!-- END form-group -->
            <div class="form-group">
                <label for="comparison_operator"  class="col-sm-3 control-label">运算符号</label>
                <div class="col-sm-3">
                    <select class="form-control alarm-form-element" name="comparison_operator" id="comparison_operator">
                        <option value="gt"> 大于  </option>
                        <option value="ge"> 大于等于 </option>
                        <option value="eq"> 等于 </option>
                        <option value="le"> 小于等于 </option>
                        <option value="lt"> 小于  </option>
                        <option value="ne"> 不等于  </option>
                    </select>
                </div>
            </div>
            <!-- END form-group -->
        </div>
        <!-- END form -->
    </div>
    <!-- END well -->
</div>
<!-- END col-lg-6 -->

<div class="col-lg-12">
    <div class="well no-border">
        <div class="row">
            <nav>
                <ul class="pager">
                    {% if page_type == 'create_alarm' %}
                    <li class="previous"><a class="btn" onclick="prev_step()">
                        <span aria-hidden="true">&larr;</span> 上一页</a></li>
                    {% endif %}
                    <li class="next"><a class="btn" onclick="next_step()">
                        下一页 <span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
