<form id="alarm-form" action="/monitor/alarms/edit-alarm/{{ alarm.alarm_id }}" method="post" hidden>
    {% csrf_token %}
    <input name="cur_step" value="{{ step }}">
    <input name="next_step" value="{{ step }}">
    <input name="name" value="{% if alarm_data.name %}{{ alarm_data.name }}{% else %}{{ alarm_data.resource_id }}-{{ alarm_data.meter_name }}{% endif %}">
    <input name="severity" value="{% if alarm_data.severity %}{{ alarm_data.severity }}{% else %}low{% endif %}">
    <input name="description" value="{{ alarm_data.description }}">
    <input name="enabled" value="{% if alarm_data.enabled %}{{ alarm_data.enabled }}{% else %}True{% endif %}">
    <input name="repeated_actions" value="{% if alarm_data.repeated_actions %}{{ alarm_data.repeated_actions }}{% else %}True{% endif %}">
    <input name="period" value="{% if alarm_data.period %}{{ alarm_data.period }}{% else %}60{% endif %}">
    <input name="threshold" value="{% if alarm_data.threshold %}{{ alarm_data.threshold }}{% else %}60{% endif %}">
    <input name="statistic" value="{% if alarm_data.statistic %}{{ alarm_data.statistic }}{% else %}avg{% endif %}">
    <input name="comparison_operator" value="{% if alarm_data.comparison_operator %}{{ alarm_data.comparison_operator }}{% else %}gt{% endif %}">
    {% for alarm_action in alarm_data.alarm_actions %}
        <input name="alarm_actions[]" value="{{ alarm_action }}">
    {% endfor %}

    {% for insufficient_data_action in alarm_data.insufficient_data_actions %}
        <input name="insufficient_data_actions[]" value="{{ insufficient_data_action }}">
    {% endfor %}

    {% for ok_action in alarm_data.ok_actions %}
        <input name="ok_actions[]" value="{{ ok_action }}">
    {% endfor %}

</form>
